<!DOCTYPE html>
<html>
  <head>
    <script src="//cdn.optimizely.com/js/2374210020.js"></script>
    <%= yield :head %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <%= javascript_include_tag "application" %>
    <meta name="google-site-verification" content="a9RZwf_Gg38XHprJcqsdAz4bFrCUluwHn18Qra-7FzY" />
    <meta name="description" content="GrooveOtter is a productivity platform based off the Pomodoro Technique to help people be more productive by managing tasks in small intervals. Harness the power of productivity. Find your Groove." />
    <%= javascript_include_tag "vendor/modernizr" %>
    <title>GrooveOtter</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>
    <%= favicon_link_tag 'GO_favicon.ico' %>

  </head>

<body ng-app="App" ng-controller="ApplicationController">
  <%= yield %>
</body>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>


</html>
